<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>
            <img src="images/obo_logo.png" /> <br />
          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>For booking info, please contact <a href="http://www.24thbay.com">24thbay.com</a> at 850-583-0842 or <a href="mailto:brian@24thbay.com">brian@24thbay.com</a>.
            </div>
          </div>
        </div>

    </body>
</html>
